<div ng-controller="GeradorTransacoesController">
	<section class="container" role="main" aria-label="Formulário de cadastro">
		<header>
			<h3>Cadastra Transação</h3>
		</header>

		<form role="form">
			<div class="small text-right">Campos com <i class="fa fa-asterisk"></i> são de preenchimento obrigatório.</div>
			<fieldset>
				<legend>Dados gerais</legend>
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label" for="endereco">Banco origem</label>
						<div class="input-group">
							<select ng-model="bancoOrigemSelecionado" ng-options="banco.addrBank as banco.name for banco in bancos" data-placeholder="Selecione"
								class="chosen-select form-control" id="endereco">
                            <!--<option value="vazio">Selecione</option>-->
                        </select>
						</div>
					</div>
					<div class="form-group col-md-4 has-success has-feedback">
						<label class="control-label" for="valor">Quantidade <i class="fa fa-asterisk fa-small"></i></label>
						<input type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="valor" placeholder="Quantidade de transações" title=""
							data-original-title="Quantidade de transações" ng-model="qtde">
						<span class="glyphicon glyphicon-ok form-control-feedback"></span>
					</div>
					<div class="form-group col-md-4 has-success has-feedback">
						<label class="control-label" for="senhaIF">Senha da carteira do banco de origem</label>
						<input type="password" class="form-control" data-toggle="tooltip" data-placement="top" id="senhaIF" placeholder="Senha da carteira do banco de origem"
							title="" data-original-title="Senha da carteira" ng-model="senhaCarteira">
					</div>
					<div class="form-group col-md-4 has-success has-feedback">
						<label class="control-label" for="chavePrivada">Chave privada do banco de origem<i class="fa fa-asterisk fa-small"></i></label>
						<textarea type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="chavePrivada" placeholder="Chave privada do banco de origem"
							title="" data-original-title="Certificado da instituição financeira a ser cadastrada" ng-model="chavePrivadaOrigem"> </textarea>
						<span class="glyphicon glyphicon-ok form-control-feedback"></span>
					</div>
				</div>
				<div role="toolbar" class="buttonAcao">
					<button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="geraTransacoes()"><i class="fa fa-plus-circle"></i> Cadastra transação</button>
					<!--<button type="button" role="button" class="btn btn-primary pull-right" title="" data-original-title="Incluir" ng-click="buscaUltimasTransacoes()"><i class="fa fa-plus-circle"></i> Ultimas transacoes</button>-->
					<!--<button type="button" role="button" class="btn btn-default pull-right" title="" data-original-title="Voltar"><i class="fa bc-envelope-open fa-2x"></i> Voltar </button>-->
					<span us-spinner="{radius:30, width:8, length: 16}"></span>
				</div>

		</form>

	</section>

</div>