<section class="container" role="main">
    <header>
        <h3>Login</h3>
    </header>
    <form role="form">
        <fieldset>
            <legend>Validar cadastro</legend>
            <div class="column">
                <div class="form-group col-md-4 col-sm-4">
                    <label class="control-label" for="nomeIF">Nome da Carteira</label>
                    <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="nomeIF" placeholder="Nome ...." title=""
                        data-original-title="Endereço da IF" ng-model="banco.nomeCarteira">
                </div>
                <div class="form-group col-md-4 col-sm-4">
                    <label class="control-label" for="enderecoIF">Endereço da Carteira</label>
                    <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" id="enderecoIF" placeholder="Endereço ...."
                        title="" data-original-title="Endereço da IF" ng-model="banco.enderecoCarteira">
                </div>
                <div class="form-group col-md-4 col-sm-4">
                    <label class="control-label" for="senhaIF">Senha da carteira</label>
                    <input type="password" class="form-control" data-toggle="tooltip" data-placement="top" id="senhaIF" placeholder="Senha da carteira"
                        title="" data-original-title="Senha da carteira" ng-model="banco.senhaCarteira">
                </div>
            </div>
        </fieldset>
        <!--
            <input id="nome" type="text" placeholder="Nome da IF" />
            <input id="saldo" type="text" placeholder="Saldo da IF" />
            <input id="endereco" type="text" placeholder="Endereço da IF" />
-->
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <button id="call" type="submit" ng-click="validar()">Validar</button>
    </form>
</section>