<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>SALT</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<!-- Bootstrap theme -->
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<!-- Font awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- Bc Fonts -->
	<link href="css/bc_font.css" rel="stylesheet">
	<style>
		.red {
			background-color: red !important
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.16.3/lodash.min.js"></script>
	<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
	<script type="text/javascript" src="lib/angular-spinner.min.js"></script>
	<script type="text/javascript" src="lib/angular-loading-spinner.js"></script>
	<script src="https://unpkg.com/angular-ui-router@0.3.1/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/common.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/asn1.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/x509_schema.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/x509_simpl.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/cms_schema.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/cms_simpl.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/ocsp_tsp_schema.js"></script>
	<script type="text/javascript" src="lib/org/pkijs/ocsp_tsp_simpl.js"></script>
	<script type="text/javascript" src="lib/q.js"></script>
	<script type="text/javascript" src="lib/cryptoUtil.js"></script>
	<script type="text/javascript" src="/static/bower_components/crypto-js/crypto-js.js"></script>
	<script type="text/javascript" src="/static/bower_components/crypto-js/aes.js"></script>
	<script src="src/app.js"></script>
	<script src="src/services/StateService.js"></script>
	<script src="src/services/TransactionService.js"></script>
	<script src="src/controllers/CadastraIFController.js"></script>
	<script src="src/controllers/SaldoController.js"></script>
	<script src="src/controllers/CadastraChavesController.js"></script>
	<script src="src/controllers/ConsultaChavesController.js"></script>
	<script src="src/controllers/CriptografiaController.js"></script>
	<script src="src/controllers/CadastraTransacaoController.js"></script>
	<script src="src/controllers/ConsultaTransacoesController.js"></script>
	<script src="src/controllers/ConsultaSaldosController.js"></script>
	<script src="src/controllers/GeradorTransacoesController.js"></script>
	<script src="src/controllers/CadastraSaldoController.js"></script>
	<script src="src/controllers/SALTController.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document" class="body-cmenu" ng-app="salt" ng-controller="SALTController">
	<header role="banner">
		<div class="cabecalho">
			<div class="container-fluid">
				<div class="logo">
					<img src="img/LogoPeqBranca.png" alt="Banco Central do Brasil">
				</div>
				<div class="pull-right dropdown">
					<a id="dLabel" role="button" class="perfil perfil-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" title="" data-original-title="Perfil do usuário"> <i class="fa fa-user"></i> {{banco.nome}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						<li><a href="#">Sair do sistema</a></li>
					</ul>
				</div>
				<h1>SALT</h1>
				<div class="sigla">SALT</div>
			</div>
		</div>
		<!-- Fixed navbar -->
		<nav role="navigation">

			<ul class="menu horizontal plano expandido filtro" id="nav" role="menubar">
				<li role="menuitem"><a href="#cadastraIF">Cadastro</a>
					<ul role="menu">
						<li role="menuitem"><a href="#/cadastraIF" aria-expanded="false">IF</a>
						</li>
						<li role="menuitem"><a href="#/cadastraSaldo" aria-expanded="false">Saldo</a>
						</li>
						<li role="menuitem"><a href="#/cadastraTransacao" aria-expanded="false">Transação</a>
						</li>
						<li role="menuitem"><a href="#/cadastraChaves">Chaves</a></li>
					</ul>
				</li>
				<li role="menuitem"><a href="#" aria-expanded="false">Consulta</a>
					<ul role="menu">
						<li role="menuitem"><a href="#/consultaSaldos" aria-expanded="false">Saldos</a>
						</li>
						<li role="menuitem"><a href="#/consultaTransacoes" aria-expanded="false">Transações</a>
						</li>
						<li role="menuitem"><a href="#/consultaChaves">Chaves</a></li>
					</ul>
				</li>
			</ul>
			<span class="codTela" title="" data-original-title="Código da tela"><i class="fa fa-barcode fa-lg"></i> COD1125</span>
			<span class="horaData"><i class="fa fa-calendar fa-lg"></i> 12/05/2015 <i class="fa fa-clock-o fa-lg"></i> 12h30min</span>
		</nav>
	</header>
	<div ui-view>

	</div>

	<!--<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>-->

</body>

</html>